/* Main game splash page */

.main-page-content {
  margin: 0px auto;
  margin-top: 25px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.main-page-links {
  margin: 0px auto;
  padding: 50px;
  padding-bottom: 80px;
  width: 450px;
  border-bottom: 2px solid #F3EEE3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-button-main {
  font-size: 30px;
  margin: 20px;
  padding: 5px 20px;
  background-color: #E5D8CE;
  border-radius: 7px;
  color: #DD4B47;
  box-shadow: 2px 2px rgba(229, 216, 206, 0.664);
  /* animation: color-change-2 8s ease-in-out infinite; */
}

/* @keyframes color-change-2 {
    25% {
        background-color: #DD71FF;
        color: #DD4B47;
    }
    50% {
        background-color: #71DAFF;
        color: #DD4B47;
        }
    90% {
        background-color: #FF9671;
        color: #DD4B47;
    }
    100%{
        background-color:#93FF71;
        color: #DD4B47;
    } */
/* } */

/* Contributors info */

::placeholder {
  color: #DD4B47;
}

.creators-box > h3 {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
  color: #F3EEE3;
}

.creators-list {
  width: 350px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.creators-list > li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.creators-list > li > p {
  font-weight: 700;
  font-size: 16.5px;
  padding-bottom: 4px;
  color: #F3EEE3;
}

.creators-list > li > a {
  padding-bottom: 1.5px;
  color: rgb(202, 228, 190);
}


/* Login and signup components */

.session-page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.session-form-container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #97AB8E;
  border-radius: 7px;
  box-shadow: 3px 3px black;
}

.session-form input {
  margin-bottom: 10px;
  background-color: #F3EEE3;
  font-size: 20px;
  padding: 2px 10px;
  color: #DD4B47;
  font-weight: 800;
}

.submit-link-button {
  background-color: #F3EEE3;
  color: #DD4B47;
  border-radius: 7px;
  animation: color-change-2 8s ease-in-out infinite;
  padding: 3px;
  margin-top: 15px;
  /* text-shadow: 0.25px 0.25px black; */
  font-weight: 700;
}


/* User Profile Component */

.profile-content {
  margin: 0px auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 800px;
}

.profile-stats {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  background-color: #97AB8E;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 50px;
  box-shadow: 2px 2px black;
}

.profile-stats > h2 {
  font-size: 22px;
  font-weight: 800;
  margin: 0px auto;
  margin-bottom: 25px;
  color: #F3EEE3;
}
.profile-stats > p {
  font-size: 14px;
  font-weight: 600;
  margin: 0px auto;
  margin-bottom: 25px;
  color: #F3EEE3;
}

.players-stats-list {
  display: flex;
  flex-direction: column;
}

.players-stats-list li {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.play-buttons {
  max-width: 350px;
}

.play-button {
  font-size: 30px;
  font-weight: 800;
  background-color: #E5D8CE;
  color: #DD4B47;
  border-radius: 7px;
  animation: color-change-2 8s ease-in-out infinite;
  padding: 5px;
  max-width: 300px;
  margin-bottom: 20px;
  box-shadow: 3px 3px black;
}


