/* Main game splash page */

.main-page-content {
  margin: 0px auto;
  margin-top: 25px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.main-page-links {
  margin: 0px auto;
  padding: 50px;
  padding-bottom: 80px;
  width: 450px;
  border-bottom: 2px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-button-main {
  font-size: 30px;
  margin: 20px;
  padding: 5px 20px;
  background-color: rgb(235, 198, 204);
  border-radius: 7px;
  animation: color-change-2 8s ease-in-out infinite;
}

@keyframes color-change-2 {
    25% {
        background-color: rgb(212, 151, 194);
        color: rgb(238, 85, 111);
    }
    50% {
        background-color: rgb(245, 187, 166);
        color: rgb(110, 8, 8);
        }
    90% {
        background-color: rgb(240, 240, 157);
        color: rgb(121, 40, 10);
    }
    100%{
        background-color: rgb(235, 198, 204);
        color: rgb(212, 55, 165);
    }
}

/* Contributors info */

.creators-box > h3 {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
}

.creators-list {
  width: 350px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.creators-list > li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.creators-list > li > p {
  font-weight: 700;
  font-size: 16.5px;
  padding-bottom: 4px;
}

.creators-list > li > a {
  padding-bottom: 1.5px;
}


/* Login and signup components */

.session-page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.session-form-container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgb(168, 201, 116);
  border-radius: 7px;
}

.session-form input {
  margin-bottom: 10px;
  background-color: rgb(211, 179, 201);
  font-size: 20px;
  padding: 2px 10px;
}

.submit-link-button {
  background-color: rgb(235, 198, 204);
  color: rgb(212, 55, 165);
  border-radius: 7px;
  animation: color-change-2 8s ease-in-out infinite;
  padding: 3px;
  margin-top: 15px;
}


/* User Profile Component */

.profile-content {
  margin: 0px auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 800px;
}

.profile-stats {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  background-color: rgb(168, 201, 116);
  box-sizing: border-box;
  padding: 20px;
}

.profile-stats > h2 {
  font-size: 22px;
  font-weight: 800;
  margin: 0px auto;
  margin-bottom: 25px;
}

.players-stats-list {
  display: flex;
  flex-direction: column;
}

.players-stats-list li {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.play-buttons {
  max-width: 350px;
}

.play-button {
  font-size: 30px;
  font-weight: 800;
  background-color: rgb(235, 198, 204);
  color: rgb(212, 55, 165);
  border-radius: 7px;
  animation: color-change-2 8s ease-in-out infinite;
  padding: 5px;
  max-width: 300px;
  margin-bottom: 20px;
}


