/* //colors #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871] */

/* THE MAINCONTAINER HOLDS EVERYTHING */

.category-container {
  /* height: 10%; */
  /* width: 15%; */
  background-color: #9cc25e;
  position: relative;
  display: flex;
  justify-content: center;
  border: 2px solid #845ec2;
}

.maincontainer {
  /* position: absolute; */
  /* width: 50px; */
  /* height: 64px; */
  background: none;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.card-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-question > h1 {
  padding-top: 6px;
  padding-bottom: 10px;
  color: rgb(202, 228, 190);
  text-decoration: underline;
  font-weight: 600;
}

.category-ul {
  list-style-type: none;
}

.board-cell-li {
}

.card-top-container {
  position: relative;
  height: 12vh;
}

.scene {
  /* width: 12%;
  height: 20%; */
  border: 1px solid #ccc;
  /* margin: 40px 0; */
  /* perspective: 100px; */
}

.scene-flipped {
  position: fixed;
  top: 23vh;
  left: 65vw;
  border: 1px solid rgb(255, 255, 255, 0);
}

.card {
  /* display: flex; */
  /* width: 80px;
  height: 80px; */
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  height: 12vh;
}

.card.is-flipped {
  transform: rotateY(180deg) scale(4.5, 4);
}

.card-face {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  backface-visibility: hidden;
}

.card-face-front {
  background: #845ec2;
  font-weight: bold;
  font-size: 10vh;
  border-radius: 2px;
  box-shadow: 4px 4px 4px 4px black;
  /* padding-top: 10px; */
}

.card-face-front > h1 {
  color: rgb(210, 255, 189);
}

.card-face-back {
  background: blue;
  font-weight: bold;
  font-size: 5px;
  transform: rotateY(180deg);
}

.new_card-face-back {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #5e60c2;
  font-weight: bold;
  font-size: 5px;
  transform: rotateY(180deg);
  display: inline-table;
  box-shadow: 4px 4px 4px 4px black;
  border-radius: 2px;
}

.card-level {
}

.category-ul {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 14vw;
  padding: 0px 9% 0px 2%;
  margin: 0px 2% 0px 2%;
}

.difficulty-ul {
  display: flex;
  flex-direction: row;
  position: relative;
}

.more-flip {
  z-index: 1;
}

.answers-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

section {
  background: black;
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.answer-container {
  border: 0.5px solid #ccc;
  margin-bottom: 1px;
  padding: 1px;
  padding-bottom: 2px;
}
.answer-container:hover {
  background-color: rgb(202, 228, 190);
  color: black;
}

.already-answered-wrong {
  background-color: red;
  z-index: -1000;
  height: 12vh;
}

.scene-face {
  border-radius: 2px;
  box-shadow: 4px 4px 4px 4px black;
}

.already-answered-right {
  background-color: #5dd682;
  z-index: -1000;
  height: 12vh;
}

/*

.category-container{
  background-color: pink;
  position: relative;
}


.maincontainer{
    background: none;
  
  }
  




  .card-question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .category-ul{
    list-style-type: none;
  }
  
  .board-cell-li{
    
  }
  
  
  
  
  
  
  .card-top-container{
    background-color: white;
    position: relative;
  }

.scene {
  border: 1px solid #CCC;
  perspective: 1000px;
}

.card {

  transition: transform .5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg) scale(3,3);
}

.card-face {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  backface-visibility: hidden;
}

.card-face-front {
  background: red;
  font-weight: bold;
  font-size: 45px;
}

.card-face-back {
  background: blue;
  font-weight: bold;
  font-size: 5px;
  transform: rotateY(180deg);
}

.new_card-face-back {
  position: absolute;
  top: 50%;
  left: 50%;
  background: blue;
  font-weight: bold;
  font-size: 5px;
  transform: rotateY(180deg);
}

.card-level{

}

.category-ul{
  display: flex;
  flex-direction: column;
  position: relative;
}

.more-flip{
  z-index: 1;
}

.answers-list{
  display: flex;
  flex-direction: column;
}

section {
  background: black;
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }



body { font-family: sans-serif; }

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background: red;
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}







Notes:
change the class so it is still card but takes over full page?




*/
